.details{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .container{
        margin-bottom: 52px;

        .top{
            width: 100%;
            padding: 10.5px 8px;
            border-radius: 6px;
            background: linear-gradient(90deg, rgb(242, 244, 255) 0%, rgb(255, 240, 253) 100%);
            display: flex;
            align-items: center;
            gap: 13px;
            margin-bottom: 25px;
            
            span{
                color: #687196;
                font-weight: 500;
                font-size: 14px;
            }
        }
    }
}