form{
    display: flex;
    flex-direction: column;
    gap: 4px;

    .input{
        width: 100%;
        display: flex;
        gap: 79px;

        .label{
            width: 160px;
            display: flex;
            align-items: center;
            gap: 6px;

            span{
                color: #687196;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .status{
            width: 100%;
            display: flex;

            .btn-status{
                background-color: #FCEEB5;
                color: #B13600;
                padding: 2px 8px;
                border: none;
                border-radius: 5px;
                margin-left: 8px;
            }
        }

        .control{
            width: 100%;
            outline: none;
            color: #687196;
            font-weight: 400;
            padding: 3px 8px;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
            border: 1px solid transparent;

            &:hover{
                background-color: #F1F3F8;
            }
            &:focus{
                border: 1px solid #AAAFFF;
                background-color: transparent;
            }
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none; /* Remove default styling */
            margin: 0; /* Reset margin */
        }

        /* Hide arrows for Firefox */
        input[type="number"] {
            -moz-appearance: textfield; /* Change appearance to textfield */
        }
    }
}