<form [formGroup]="updateForm" (keyup.enter)="updateTicket()">
    <div class="input">
        <div class="label">
            <app-icon name="icon-status"></app-icon>
            <span>Status</span>
        </div>
        <div class="status">
            <button class="btn-status" disabled="true">Unpaid</button>
        </div>
    </div>
    <div class="input">
        <div class="label">
            <app-icon name="icon-assignee"></app-icon>
            <span>Assignee</span>
        </div>
        <input class="control" formControlName="assignee" type="text">
    </div>
    <div class="input">
        <div class="label">
            <app-icon name="icon-coowner"></app-icon>
            <span>Co-owner</span>
        </div>
        <input class="control" formControlName="coOwner" type="text">
    </div>
    <div class="input">
        <div class="label">
            <app-icon name="icon-importance"></app-icon>
            <span>Importance</span>
        </div>
        <input class="control" formControlName="importance" type="text">
    </div>
    <div class="input">
        <div class="label">
            <app-icon name="icon-customername"></app-icon>
            <span>Customer name</span>
        </div>
        <input class="control" formControlName="customerName" type="text">
    </div>
    <div class="input">
        <div class="label">
            <app-icon name="icon-invoiceid"></app-icon>
            <span>Invoice ID</span>
        </div>
        <input class="control" formControlName="invoiceId" type="number">
    </div>
</form>